$break-small: 420px; // lol
$break-large: 1200px;

body{
  margin: 0px;
  padding: 0px;
}

article{
  h1{
    text-align: center;
    font-weight: lighter;
    margin-top: 0px;
    font-size: 100px;
    background-color: black;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 0px;
  }
}

#intro{
  display: flex;
  @media all and (max-width: $break-small){
    flex-direction: column;
  }
  flex-direction: row;
}

#animated-wheel{
  @media all and (max-width: $break-small){
    width: 100vw;
  }
  width: 50vw;
}

.half-text{
  @media all and (max-width: $break-small){
    width: 100vw;
  }
  width: 50vw;
}
