$break-small: 420px; // lol
$break-large: 1200px;

html, body {
  font: 400 10px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #e0e0e0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
}

#logo-container {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 15vh;
}

#logo-container, #logo-container svg {
  width: 40vw;
  min-width: 300px;
}

#quote-container {
  margin: auto;
  margin-top: 100px;
  text-align: center;
  font: 100 1.8rem 'Helvetica Neue';
}

@media all and (max-width: 650px) {
  #logo-container, #logo-container svg {
    width: 60vw;
    min-width: 100px;
  }
}

article {
  h1 {
    text-align: center;
    font-weight: lighter;
    margin-top: 0;
    font-size: 100px;
    background-color: black;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 0;
  }
}

#intro {
  display: flex;

  @media all and (max-width: $break-small){
    flex-direction: column;
  }

  flex-direction: row;
}

#animated-wheel {
  @media all and (max-width: $break-small){
    width: 100vw;
  }

  img {
    width: 100%;
  }

  width: 50vw;
}

.half-text {
  @media all and (max-width: $break-small){
    width: 100vw;
  }

  width: 50vw;
}
