---
layout: blank-slate
title: "Hi Basecamp!"
permalink: /basecamp/
---

<div class="basecamp">
  <div class="basecamp-logo">
    {% include image.html url="/images/basecamp/basecamp-logo.png" %}
  </div>

  <h1 class="less-margin-top bold">Hi Basecamp!</h1>
  <h2 class="no-margin-top">We're Anthony Super and Connor Shea</h1>
  <!-- Cheesy tagline -->
  <h3 class="no-margin-top">...and we think it's about time we tried the Basecamp way.</h3>

  <div class="people-photos">
    {% include image.html url="/images/basecamp/AnthonySuperPhoto.png" caption="Anthony" %}
    {% include image.html url="/images/basecamp/ConnorSheaPhoto.png" caption="Connor" %}
  </div>

  <section>
    <p>We've been working together for nearly two years, and our skills compliment each other particularly well. We don't necessarily want or need to work on the same project, but we wanted to apply to an internship together. You never leave your friends behind, especially when you've gotten this far together.
    <p>Anthony is a programmer, taking care of software design, databases, and deployment. Connor is a web designer and developer, taking care of overall design and implementing many of the user-facing parts of our websites. We're both big fans of Basecamp's philosophy as a company, and would love the opportunity to learn from some great people.
  </section>

  <section>
    <h2>We've worked together on a few projects</h2>
    
    <a href="https://www.imagehex.com/">
      {% include image.html url="/images/basecamp/ImageHex.png" %}
    </a>

    <p><a href="https://www.imagehex.com/">ImageHex</a> is an art website – still in development – with the goal of making commissioning art online an easier, more enjoyable process for both artists and clients. It's built with Rails, and has been a huge undertaking, with more than 1800 commits in our GitHub repository.

    <p><b>Anthony</b>: <!--- Anthony's description of the project -->

    <p><b>Connor</b>: ImageHex has been a labour of love over the past year and a half. We've gone to great lengths to make the site both look good and work well. The site is still very rough around the edges, but it's fast, functional, and I think it's been a huge accomplishment for two 18-year-olds working in their spare time. I started from scratch with my web development skills, and I've learned HTML, CSS/SCSS, Git, JavaScript, jQuery, React.js, and Rails (with a healthy dose of Google and some trial-and-error).

    <a href="http://www.noided.media/WavHead/">
      {% include image.html url="/images/basecamp/WavHead.png" %}
    </a>

    <p><a href="http://www.noided.media/WavHead/">WavHead</a> is a locally-hosted "jukebox" for parties. Built with Sinatra, it was made to be used at LAN parties we had with our group of friends so anyone connected to the network could vote on what music was being played over a connected sound system. It was built and released in late 2014, and its source code <a href="https://github.com/noidedmedia/WavHead">is available on GitHub</a>.

    <p><b>Anthony</b>: <!--- Anthony's description of the project -->

    <p><b>Connor</b>: Working on a project like WavHead was a huge learning experience for me. There were a lot of constraints we had to think about, since it had to be hosted locally, and therefore lightweight. Most people at parties would probably be interacting with it on their phone, so I learned responsive design. We had minimal bells-and-whistles, we didn't even use a CSS pre-processor. And yeah, the promotional site has scroll-jacking. I'm sorry! I've since gotten a lot better at web design, and I'd really like to go back and fix that some time.

    <a href="http://www.fictiondock.com/">
      {% include image.html url="/images/basecamp/Fiction-Dock.png" %}
    </a>

    <p><a href="http://www.fictiondock.com/">Fiction Dock</a> is "a better place for fan fiction". We built it over the summer last year, and it's also <a href="https://github.com/noidedmedia/Fiction-Dock/">available on GitHub</a>. Unfortunately, Fiction Dock never gained proper traction as we went on to focus more on ImageHex and other commitments.

    <p><b>Anthony</b>: <!--- Anthony's description of the project -->

    <p><b>Connor</b>: We took a break from working on ImageHex to get more practice developing a Rails app from scratch, and the result was Fiction Dock. We learned the value of React.js for complex web interfaces, but we also used it sparingly. We only used React on pages that really needed that deep level of interaction.
  </section>

  <section>
    <h2>Sometimes we even work separately!</h2>
    <h3>Anthony</h3>
    <!--- Anthony's description -->

    <h3>Connor</h3>
    <p>I'm a web designer and developer with a bit of a neurotic attention to detail. I frequently have to pull myself away from obsessing over minute details so that I can actually ship something out. I definitely think I've gotten better about moderating myself over the past year.

    <p>Outside of my work at Noided Media, I've built and shipped a redesign of <a href="http://pcgamingwiki.com/wiki/Home">PCGamingWiki</a>, where I serve as the lead web developer/designer. We released a <a href="http://community.pcgamingwiki.com/page/blog/_/announcements/new-skin-pcgamingwiki-overclocked-r185">blog post detailing the exact improvements</a>, most notably page speed for a given wiki article going from "76 requests, 443 KB of content, and a load time of 4.47 seconds down to 26 requests, 370 KB of content, and a load time of 2.60 seconds." To my knowledge, it's the first truly responsive MediaWiki skin that's been released as open source, something I'm particularly proud of.

    <p>I've also done freelance work, designing the logo and building <a href="https://fna-xna.github.io/">the site for indie game engine FNA</a> using Jekyll. The creator of FNA <a href="https://plus.google.com/+flibitijibibo/posts/ZzEYaV4EAxV">was pretty happy with it</a>. Before learning web development, I did software mockups – such as my <a href="https://www.behance.net/gallery/18931105/Steam-Redesign-Concept">Steam Redesign Mockup</a> – as well as more traditional graphic design, samples of which you can find on <a href="https://www.imagehex.com/@connor">my ImageHex profile</a>.
  </section>

  <section>
    <h2>Why we're applying and what we hope to offer</h2>
    
    <h3>Anthony</h3>
    <p>I'm only a freshman in college, but I have been programming for a few years.
    I enjoy many of the things you guys build.
    Heck, I work so much with Rails I'm sure DHH owns at least 5% of my soul.
    When I saw that you had an internship opportunity, I knew I had to apply.

    <p><b>Decisiveness</b>
    <p>You want a team of "managers of one."
    I'm the owner of half of a two-person startup.
    In such a small company, both of us have to call the shots for our own responsibilities.
    While we at Noided Media have been managing fairly well, I want to be able to grow further.
    I'll be honest: my cofounder and I have had some communication issues.
    There have been times where both of us have conflicting ideas of what needs to be done, and our productivity has suffered as a result.
    The opportunity to work with a mentor will be invaluable to me, as it will provide me with the insight I need to retain my independent action while improving my ability to work with others.

    <p><b>Scale</b>
    <p>My company is still in the early stages.
    We have users that we consult with on features, but we don't have many of them.
    Basecamp, on the other hand, has hundreds of thousands, if not millions, of users.
    Trying to find the needs of our users has been an extremely interesting challenge, even with our small scale.
    I can't imagine how complex it is when you have a user base as big as Basecamp's&mdash;or how rewarding it feels when you get the feature just right.
    The opportunity to intern with Basecamp will let me learn to interact with users at scale, giving me the knowledge I need to succeed in my own company.

    <p><b>Philosophy</b>
    <p>I've always admired the type of company Basecamp is.
    Your employee DHH has <a href="https://m.signalvnoise.com/reconsider-41adf356857">discussed this</a> on Medium.
    You make great products that provide a useful service.
    In a world where I've had people tell me to scrap my ideas because they could only make millions instead of billions, we need more of that.
    <p>
    This philosophy (as well as the reputation of your products) means that I can trust that your company will focus on what actually matters, as opposed to desperately sprinting towards some arbitrary funding goal.

    <h3>Connor</h3>
    <p>I'm applying for an internship for two main reasons: I love making users happy and I love companies that are committed to making things <i>better</i>. Basecamp is well-known for making users happy and for being good stewards to the community with open source projects like Rails.
    <p>I'm hoping to offer my experience in design and Rails to Basecamp's support team, help them find pain points in their workflow, and solving them with software. Better tooling and a better workflow means better response times, happier users, and happier support staff!
  </section>

  <section>
    <h2>Interested?</h2>

    <p class="center">Thank you for taking the time to consider us. If you have any questions or want to talk more, we'd be more than happy.

    <p class="center"><b>Anthony:</b> <!--- Anthony's links -->

    <p class="center"><b>Connor:</b> <a href="mailto:connor.james.shea@gmail.com">Email</a> / <a href="https://connorshea.github.io">Website</a> / <a href="https://github.com/connorshea">GitHub</a> / <a href="https://twitter.com/connorjshea">Twitter</a> / <a href="{{ site.url }}/assets/ConnorSheaResume.pdf">Resume</a>
  </section>
</div>
</div>
