---
layout: blank-slate
title: "Basecamp"
permalink: /basecamp/
---

<div class="basecamp center">

  <h1>Hi, I'm Connor</h1>

  {% include image.html url="/images/basecamp/ConnorSheaPhoto.png" %}

  <h2>This is a fancy picture of me</h2>

  <h2>I'm a User Interface Designer and Developer, and I have quite a fondness for GIFs.</h2>

  {% include image.html url="/images/basecamp/1.gif" caption="Let's get the most important thing out of the way: I pronounce GIF with a hard G. Like gorilla, not giraffe." %}

  {% include image.html url="/images/basecamp/2.gif" %}

  <h3>Badly designed software makes me feel like this</h3>

  {% include image.html url="/images/basecamp/3.gif" %}

  <h3>Here's what I'll look like if you accept me for a position</h3>

  {% include image.html url="/images/basecamp/4.gif" %}

  <a href="{{ site.url }}/assets/ConnorSheaResume.pdf">Résumé</a> / <a href="https://twitter.com/connorjshea">Twitter</a> / <a href="https://github.com/connorshea">GitHub</a> / <a href="https://connorshea.github.io">Website</a>


</div>
