.basecamp {
  h1.no-margin-top {
    margin-top: -10px;
  }

  h1.less-margin-top {
    margin-top: 10px;
  }

  h1.bold {
    font-weight: 500;
  }

  section .post-image {
    margin-top: 60px;
  }

  section h2 + a {
    margin-top: 0;
  }
}

.people-photos {
  margin: auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
          justify-content: center;

  img {
    width: 200px;
    margin: 10px;
  }
}

.basecamp-logo {
  margin: auto;
  max-width: 200px;
  margin-top: 40px;

  img {
    max-width: 200px;
    height: auto;
  }
}
