.home {
  padding-top: calc(50vh - 180px);
  height: 100vh;
  
  img {
    pointer-events: none;
  }

  p {
    display: block;
    text-align: center;
    margin-top: 40px;
    font-style: italic;
  }
}

@keyframes cursorBlink {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

#quote-cursor {
  animation: cursorBlink 1s infinite;
  margin-right: -2px;
}
